
/* makes sizing simpler */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* dark mode user-agent-styles */

html {
  color-scheme: dark light;
}

/* min body height */

body {
    min-height: 100vh;
    width: 100%;
    background-color: white;
   
}






h1.hero-text {
  font-size: 2.7rem;
  font-family: 'Inter', sans-serif;
  color: white;
  font-weight: 700;
  text-align: center;
  margin:.5rem 1rem;
}

h1.hero-text.food-truck {
  font-size: 2.7rem;
  font-family: 'Inter', sans-serif;
  color: white;
  font-weight: 700;
  text-align: center;
  margin: 4rem 0rem 1rem 0rem;
}

h1.hero-text.thin {
  font-size: 2rem;
  font-family: 'Inter', sans-serif;
  color: white;
  font-weight: 300;
  text-align: center;
  margin:.5rem 1rem;
}

h2.hero-text {
  font-size: 1.25rem;
  font-family: 'Inter', sans-serif;
  color: white;
  font-weight: 300;
  text-align: center;
  margin:1.5rem 1rem 0 1rem;
}

h3.hero-text {
  font-size: 1.25rem;
  font-family: 'Inter', sans-serif;
  color: white;
  font-weight: 900;
  text-align: left;
  margin:1.5rem 1rem 0 1rem;
}


h3.location-text {
  font-size: 1.5rem;
  font-family: 'Inter', sans-serif;
  color: white;
  font-weight: 300;
  text-align: center;
  margin:1rem 1rem 2rem 1rem;
  text-decoration: underline;
  text-underline-offset: 1.5rem;
  text-decoration-thickness: 3px;

}

.underline {
  text-decoration: underline;
  text-underline-offset: 1.5rem;
  text-decoration-thickness: 3px;

}


.hero-container {
  min-height: 40rem;
  width: 100%;
  background-image: url(images/Bridgers.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-container.two {
  min-height: 40rem;
  width: 100%;
  background-image: url(images/food-trucks.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-container.three{
  min-height: 40rem;
  width: 100%;
  background-image: url(images/music-vibes.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}





.hero-text {
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 2rem 4rem 2rem;
}

h2.hero-text.left {
    font-size: 1.25rem;
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;

}

.hero-text.plan {
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 4rem 2rem 0rem 2rem;
}

.hero-text.footer-text {
    font-size: 0.85rem;
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 5rem 2rem 0rem 2rem;
  
}

.hero-button { 
  margin: 2rem 0 4rem 0rem;
  padding: 0.75rem 1.5rem;
  background-color: #AE4740;
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 1.1rem;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
  display: flex;
  
  align-items: center;
 
  

}

.text-container {
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: self-start;
  text-align: left;
  margin: 2rem 0rem 1rem 0rem;
}

img.site-plan {
  width: 20rem;
  height: auto;
  margin: 2rem 0rem 1rem 0rem;
}





/* Responsive Design */


@media screen and (min-width: 1024px) {



img.site-plan {
  width: 40rem;
  height: auto;
  margin: 2rem 0rem 1rem 0rem;
}







}